.input-group .input-group-text {
    border-left: none;
  }
  
  .input-group .form-control {
    border-right: none;
  }
  
  .input-group .input-group-text:hover {
    background-color: #f8f9fa;
  }
  